{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid" style="background-color: black;">
    <div class="container" style="background-color: black;">
    {% for user in users %}
        {% for photo in photos %}
            {% if photo.profile_key.insta_user == user.user_key %}
                    <hr>

                    <div class="col-md-12">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class = "card" style="background-color: whitesmoke; border: whitesmoke; padding: 15px; margin: 10px;">
                                <div class = "card-header text-center" style="background-color: whitesmoke;">
                                    <img class="img-rounded"  src="{{photo.profile_key.profile_pic.url}}" style="max-width: 2em; margin-right: 10px;">
                                    <a href="{% url 'profile' photo.profile_key.insta_user.id %}">{{photo.profile_key.insta_user.username}}</a>
                                </div>
                                <div class = "card-body">
                                    <a href="{% url 'single-image' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image" style="padding: 5px; width: 100%; height: 100%;"></a>
                                </div>
                                <div class="card-footer">
                                   
                                    <a href="{% url 'single-image' photo.id %}"><p>View more details</p></a>
                                    <p><strong>Posted on </strong> {{photo.upload_date}}</p>
                                    
                                </div>
                                <hr>
                            </div>
                        </div>
                        
                        <div class="col-md-4">

                        </div>
                        
                    </div>
            
            {% endif %}
        {% endfor %}

        {% empty %}
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="color: white; text-align: center;">
                        <h2 class="text-center">Search for and follow other users to see their posts displayed here </h2>
                        <h3>Some suggested users: </h3>
                        <ul>
                            {% for a_user in all_users %}
                                {% if a_user.username != 'student' %}
                                    <li><a href="{% url 'profile' a_user.id %}"><h3>{{a_user.username}}</h3></a> </li>
                                {% endif %}
                            {% empty %}
                                <p>No users are registered yet</p>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <div class="col-md-2"></div>

        {% endfor %}
        {% for photo in photos %}
            {% if photo.profile_key.insta_user == current_user %}

            <div class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class = "card" style="background-color: whitesmoke; border: whitesmoke; padding: 15px; margin: 10px;">
                        <div class = "card-header text-center" style="background-color: whitesmoke;">
                            <img class="img-rounded"  src="{{photo.profile_key.profile_pic.url}}" style="max-width: 2em; margin-right: 10px;">
                            <a href="{% url 'profile' photo.profile_key.insta_user.id %}">{{photo.profile_key.insta_user.username}}</a>
                        </div>
                        <div class = "card-body">
                            <a href="{% url 'single-image' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image" style="padding: 5px; width: 100%; height: 100%;"></a>
                        </div>
                        <div class="card-footer">
                            
                            <a href="{% url 'single-image' photo.id %}"><p>View more details</p></a>
                            <p><strong>Posted on </strong> {{photo.upload_date}}</p>
                            
                        </div>
                        <hr>
                    </div>
                </div>
                
                <div class="col-md-4">

                </div>
                
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}