{%extends 'base.html'%}
{% load bootstrap3 %}


{% block content %}
{{block.super}}
<div class="container-fluid" style="background-color: black;">


<div class="container" >
    <h1 style="text-align: center; color: whitesmoke;"><strong>{{current_user.username}}</strong></h1>
    <hr>
    <div class="row" style="color: whitesmoke;">
        <div class="col-md-4" style="text-align: center;">
            
            <hr>
            {% if user_profile.bio %}
                <h4><strong>Bio :</strong></h4>
                <p>{{user_profile.bio}}</p>
                
            {% else %}
                <p>{{current_user.username}} has no bio</p>
                <hr>
                
            {% endif %}

            
        
        </div>
        <div class="col-md-4" style="padding: 30px; text-align: center;">
            {% if user_profile.profile_pic %}
            
                <img src="{{user_profile.profile_pic.url}}" alt="" class="img-thumbnail">
            
            {% else %}
                <p>No profile picture</p>
            {% endif %}
            
            
        </div>
        <div class="col-md-4">
            <hr>
            {% if user == current_user %}
                <a href="{% url 'update-profile' %}"><h4>Edit profile (add/change profile pic and bio)</h4></a>
                <hr>
                <a href="{% url 'upload-pic' %}"><h4>Upload image (post)</h4></a>

            {% else %}
            <form action="{% url 'profile' user_profile.insta_user.id %}" method="post" enctype="multipart/form-data" style="background-color: black; margin: 15px;padding: 15px;">
                
                    {%csrf_token%}
                
                    {% bootstrap_form form%}
                    <input type="submit" class="btn btn-primary btn-lg" value="Follow">
                
            </form>
            <p>{{phrase}}</p>
            {% endif %}
           
            <hr>
            
            
            
            
        </div>
          
    </div>
    <hr>
    <div class="row">
        <h2 style="text-align: center; color: whitesmoke;"><strong>Posts: </strong></h2>
           <br>
           
        {% if user == current_user %}
          <div class="text-center">
            <a href="{% url 'upload-pic' %}" class="text-center"><h4 class=" btn btn-primary" style="color: whitesmoke;">Upload image</h4></a>
          </div>
           
          
           <br>
       {% endif %}
        {% for photo in photos %}
            {% if photo.profile_key.id == user_profile.id %}

                
                    <div class="col-md-12">
                        <div class="col-md-4">
            
                        </div>
                        <div class="col-md-4">
                            <div class = "card" style="background-color: whitesmoke; border: whitesmoke;">
                                <div class = "card-header text-center" style="background-color: whitesmoke;">
                                    <img class="img-rounded"  src="{{photo.profile_key.profile_pic.url}}" style="max-width: 2em; margin-right: 10px;">
                                    <a href="{% url 'profile' photo.profile_key.insta_user.id %}">{{photo.profile_key.insta_user.username}}</a>
                                </div>
                                <div class = "card-body">
                                    <a href="{% url 'single-image' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image" style="padding: 5px; width: 100%; height: 100%;"></a>
                                </div>
                                <div class="card-footer">
                                    
                                    <a href="{% url 'single-image' photo.id %}" class="text-center"><p>View more details</p></a>
                                    
                                    
                                </div>
                                <hr>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
            
                        </div>
                        
                    </div>
                
           
            {% endif %}
        {% empty %}
            <p>0 posts</p>
                
        {% endfor %}
          

    </div>
</div>
</div>
{% endblock %}

<!--Add under edit profile section the form-->